.card {
  background-color: var(--surface-0);
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: var(--radius-rounded);
  overflow: hidden;
}

.card-body {
  padding: var(--gutter);
  display: flex;
  flex-direction: column;
  height: 100%;
}



.card-meta {
  font-family: var(--font-mono);
  font-size: var(--font-size-0);
  color: var(--brand-2);
  font-weight: var(--font-weight-6);
  letter-spacing: var(--font-letterspacing-loose);
  text-transform: var(--font-uppercase);
}

.card-thumb {
  background-color: var(--muted);
}

.card-tags {
  margin-block-start: auto !important;
  margin-block-end: 0;
  justify-self: flex-end;
  padding-top: var(--gutter);
}

.card-tags li {
  font-family: var(--font-mono);
  font-size: var(--font-size-smaller);
  display: inline-block;
  margin-right: 1em;
  color: var(--muted);
}
