.dashboard {
	display: grid;
	gap: var(--gutter);
	grid-template-columns: repeat(auto-fit, minmax(var(--size-span-fluid), 1fr));
	@media (--lg-n-above) {
	min-height: calc(100vh - var(--gutter) * 2);
	}
}

/* .dashboard > *:first-child {
	grid-column: 1/-1;
} */

@media (--xl-n-above) {
	.dashboard::before {
		content: "";
		position: relative;
		grid-row: 1;
		grid-column: 3;
		z-index: 10;
	}
}

@media (--xl-n-above) {
	.dashboard {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, minmax(0, var(--size-span-fluid)));
	}

	.dashboard > *:first-child {
		grid-column: span 2;
		grid-row: span 2;
	}

	.dashboard > *:nth-child(2) {
		grid-row: span 2;
	}

	.dashboard > *:nth-child(3) {
		grid-column: span 2;
	}

	/* .dashboard > *:nth-child(4) {
    grid-column: span 2;
  } */
}

.dashboard:hover, .dashboard:focus-within {
	& [class*="thumb"] {
		opacity: .7;
	}
}
