.flow > * + * {
  margin-block-start: var(--flow, var(--size-5));
}

.margin-top-0 {
  margin-block-start: var(--flow-top, 0);
}

.margin-top-2xs {
  margin-block-start: var(--flow-top, var(--size-1));
}

.margin-top-xs {
  margin-block-start: var(--flow-top, var(--size-1));
}

.margin-top-sm {
  margin-block-start: var(--flow-top, var(--size-2));
}

.margin-top-md {
  margin-block-start: var(--flow-top, var(--size-3));
}

.margin-top-lg {
  margin-block-start: var(--flow-top, var(--size-4));
}
.margin-top-xl {
  margin-block-start: var(--flow-top, var(--size-5));
}

.margin-top-2xl {
  margin-block-start: var(--flow-top, var(--size-6));
}

.margin-top-3xl {
  margin-block-start: var(--flow-top, var(--size-7));
}
