.flow > * + * {
  margin-block-start: var(--flow, var(--size-5));
}



[class*="margin-top-"] {
  margin-block-start: var(--flow-top, inherit);
}
.margin-top-0 {
  --flow-top: 0;
}

.margin-top-2xs {
  --flow-top: var(--size-1);
}

.margin-top-xs {
  --flow-top: var(--size-1);
}

.margin-top-sm {
  --flow-top: var(--size-2);
}

.margin-top-md {
  --flow-top: var(--size-3);
}

.margin-top-lg {
  --flow-top: var(--size-4);
}
.margin-top-xl {
  --flow-top: var(--size-5);
}

.margin-top-2xl {
  --flow-top: var(--size-6);
}

.margin-top-3xl {
  --flow-top: var(--size-7);
}
