.font-size-0 {
  font-size: var(--font-size-0);
}
.font-size-1 {
  font-size: var(--font-size-1);
}

.font-size-2 {
  font-size: var(--font-size-2);
}

.font-size-3 {
  font-size: var(--font-size-3);
}

.font-size-4 {
  font-size: var(--font-size-4);
}

.font-size-5 {
  font-size: var(--font-size-5);
}

.font-size-6 {
  font-size: var(--font-size-6);
}

.font-size-7 {
  font-size: var(--font-size-7);
}

.font-size-8 {
  font-size: var(--font-size-8);
}

.font-size-9 {
  font-size: var(--font-size-9);
}

.font-size-fluid-3 {
  font-size: var(--font-size-fluid-3);
}

.font-size-smaller {
  font-size: var(--font-size-smaller);
}

.font-weight-4 {
  font-weight: var(--font-weight-4);
}
.font-weight-5 {
  font-weight: var(--font-weight-5);
}

.font-weight-6 {
  font-weight: var(--font-weight-6);
}

.font-weight-7 {
  font-weight: var(--font-weight-7);
}

.text-uppercase {
  text-transform: var(--font-uppercase);
}

.text-capitalize {
  text-transform: var(--font-capitalize);
}

.letter-spacing-loose {
  letter-spacing: var(--font-letterspacing-loose);
}

.letter-spacing-tight {
  letter-spacing: var(--font-letterspacing-tight);
}

.text-truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
