.font-size-xs {
  font-size: var(--font-size-0);
}
.font-size-sm {
  font-size: var(--font-size-1);
}

.font-size-md {
  font-size: var(--font-size-2);
}

.font-size-lg {
  font-size: var(--font-size-3);
}

.font-size-xl {
  font-size: var(--font-size-4);
}

.font-size-2xl {
  font-size: var(--font-size-5);
}

.font-size-3xl {
  font-size: var(--font-size-6);
}

.font-size-display {
  font-size: clamp(var(--font-size-4), 2.25vw + var(--font-size-4), var(--font-size-6));
}

.font-size-smaller {
  font-size: var(--font-size-smaller);
}

.font-weight-400 {
  font-weight: var(--font-weight-4);
}
.font-weight-500 {
  font-weight: var(--font-weight-5);
}

.font-weight-600 {
  font-weight: var(--font-weight-6);
}

.text-uppercase {
  text-transform: var(--font-uppercase);
}

.text-capitalize {
  text-transform: var(--font-capitalize);
}

.letter-spacing-loose {
  letter-spacing: var(--font-letterspacing-loose);
}

.text-truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
