[class*="section-"] {
  padding-top: var(--section-space-top, var(--section-space, 0));
  padding-bottom: var(--section-space-bottom, var(--section-space, 0));
}

.section-xs {
  --section-space: var(--size-1);
}

.section-sm {
  --section-space: var(--size-2);
}

.section-md {
  --section-space: var(--size-3);
}

.section-lg {
  --section-space: var(--size-4);
}
.section-xl {
  --section-space: var(--size-5);
}

.section-2xl {
  --section-space: var(--size-6);
}

.section-3xl {
  --section-space: var(--size-7);
}

.section-4xl {
  --section-space: var(--size-8);
}

.section-5xl {
  --section-space: var(--size-9);
}
