:root {
		--gray-0: #ffffff;
		--gray-10: #000000;

		
}

:root {
	/* border radius */
	--radius-rounded: var(--radius-2);
	--radius-pill: 999em;
	--radius-circle: var(--radius-round);
}

:root {
	/* gap and gutter */
	--gap-0: 0;
	--gap-1: var(--size-1);
	--gap-2: var(--size-2);
	--gap-3: var(--size-3);
	--gap-4: var(--size-4);
	--gap-5: var(--size-5);
	--gap-6: var(--size-6);
	--gap-7: var(--size-7);
	--gap-8: var(--size-8);

	--gutter: var(--size-6);
}

:root {
	/* content sizes */
	--size-content-4: 70ch;

	--size-span-xxxxs: 16rem;
	--size-span-xxxs: 18rem;
	--size-span-xxs: 24rem;
	--size-span-xs: 36rem;
	--size-span-sm: 48rem;
	--size-span-md: 62rem;
	--size-span-lg: 75rem;
	--size-span-xl: 90rem;
	--size-span-xxl: 100rem;

	/* --size-span-fluid: calc(0.5vw + 0.5vh + var(--size-span-xxxxs)); */
	--size-span-fluid: var(--size-span-xxxxs);
}
:root {
	/* typography */
	--font-lineheight-fluid: calc(1em + 0.5rem);
	--font-size-smaller: 0.9em;
	--font-heading: Outfit, var(--font-sans);
	--font-weight-bold: var(--font-weight-6);

	--font-letterspacing-tight: -0.025em;
	--font-letterspacing-normal: 0;
	--font-letterspacing-loose: var(--font-letterspacing-2);

	--font-uppercase: uppercase;
	--font-capitalize: capitalize;
}

:root {
	/* z-index */
	--layer-00: -1;
}

:root {
	/* gradient */
	--gradient-brand: linear-gradient(45deg, var(--brand), var(--brand-2));
}

:root {
	--separator-surface: var(--surface-4);
	--muted: var(--text-3);
}
