



:where(html) {
	font-size: clamp(1rem, 0.25vw + 0.9rem, 1.2rem);
	accent-color: var(--brand);
  caret-color: var(--brand-2);
}





:where(body) {
	font-family: var(--font-sans);
	font-size: var(--font-size-1);
	line-height: var(--font-lineheight-3);
	color: var(--text-1);
  background-color: var(--surface-1);
}

::selection {
	color: var(--selection-text);
	background-color: var(--selection-surface);
	-webkit-text-fill-color: var(--selection-text);
}


:where(a[href]) {
  color: var(--link);
	font-weight: var(--font-weight-5);
  &:visited {
    color: var(--link-visited);
  }
	&:hover, &:focus-within {
		color: var(--link-hover);
	}

}


:where(h1, h2, h3, h4, h5) {
	& :where(a) {
	text-decoration: none;
	font-weight: unset;
	}
}


:where(a:hover, a:focus-within) {
	text-decoration: none;
}

:where(a[href*="//"]) {
	display: inline-block;
}

:where(a[href*="//"])::after
{
	margin-inline-start: .25ch;
	font-weight: inherit;
	content: "\2197";
	color: currentColor;
	opacity: 0.7;
	display: inline-block;
	text-decoration: none;
	font-size: var(--font-size-smaller);
}

:focus-visible { 
  outline-color: var(--link); 
}


h1 {
	font-size: var(--font-size-6);
	line-height: var(--font-lineheight-fluid);
}

h2 {
	font-size: var(--font-size-5);
	line-height: var(--font-lineheight-fluid);
}

h3 {
	font-size: var(--font-size-4);
	line-height: var(--font-lineheight-fluid);
}

h4 {
	font-size: var(--font-size-3);
}

h5 {
	font-size: var(--font-size-2);
}
h6 {
	font-size: var(--font-size-0);
}

:where(h1, h2, h3, h4, h5, h6) {
	font-family: var(--font-heading);
	font-weight: 600;
}

hr {
	width: 100%;
	border: 0;
	height: var(--hr-height, var(--border-size-1));
	background-color: var(--hr-color, var(--separator-surface));
}

table {
	border: var(--border-size-1) solid var(--separator-surface);
	border-collapse: collapse;
  max-width: 100%;
	width: 100%;
}



th,
td {
	padding: var(--size-2) var(--size-3);
	min-width: var(--size-content-1);
	white-space: initial;
	&:not(:last-child) {
		border-right: var(--border-size-1) solid var(--separator-surface);
	}
}

tr:nth-child(even) {
	background-color: var(--surface-2);
}

thead {
	border-bottom: var(--border-size-1) solid var(--separator-surface);
	text-transform: var(--font-uppercase);
	font-size: var(--font-size-0);
	letter-spacing: var(--font-letterspacing-loose);
	font-family: var(--font-mono);
	font-weight: var(--font-weight-6);
	color: var(--brand-2);
}

mark {
	background-color: var(--brand-2);
	color: var(--surface-0);
	padding: 0.15em;
}



del {
	text-decoration-color: var(--accent-red);
}

sup {
	position: relative;
	top: 0.5ch;
	font-size: var(--font-size-0);
}

