



:where(html) {
	font-size: clamp(1rem, 0.25vw + 0.9rem, 1.2rem);
	accent-color: var(--brand);
  caret-color: var(--brand-2);

}





:where(body) {
	font-family: var(--font-sans);
	font-size: var(--font-size-1);
	line-height: var(--font-lineheight-3);
	color: var(--text-1);
  background-color: var(--surface-1);
}

:where(::selection) {
	color: var(--selection-text);
	background-color: var(--selection-surface);
	-webkit-text-fill-color: var(--selection-text);
}


:where(a[href]) {
  color: var(--link);
  &:visited {
    color: var(--link-visited);
  }
	&:hover, &:focus-within {
		color: var(--text-1);
	}
	&:active {
		opacity: .7;
	}
}


:where(h1, h2, h3, h4, h5) {
	& :where(a) {
	text-decoration: none;
	}
}


:where(a:hover, a:focus-within) {
	text-decoration: none;
}



:where(a[href*="//"]::after)
{
	margin-inline-start: 0.25ch;
	font-weight: inherit;
	content: "\2197";
	color: currentColor;
	opacity: 0.7;
	display: inline-block;
	text-decoration: none;
}

:focus-visible { 
  outline-color: var(--link); 
}


h1 {
	font-size: var(--font-size-6);
	line-height: var(--font-lineheight-fluid);
}

h2 {
	font-size: var(--font-size-5);
	line-height: var(--font-lineheight-fluid);
}

h3 {
	font-size: var(--font-size-4);
	line-height: var(--font-lineheight-fluid);
}

h4 {
	font-size: var(--font-size-3);
}

h5 {
	font-size: var(--font-size-2);
}
h6 {
	font-size: var(--font-size-0);
}

:where(h1, h2, h3, h4, h5, h6) {
	font-family: var(--font-heading);
	font-weight: 600;
}



pre {
	padding: var(--gutter);
	border-radius: var(--radius-rounded);
}

hr {
	width: 100%;
	border: 0;
	height: var(--hr-height, var(--border-size-1));
	background-color: var(--hr-color, var(--separator-surface));
}

table {
	border: var(--border-size-1) solid var(--separator-surface);
	border-collapse: collapse;
}

th,
td {
	padding: var(--size-1) var(--size-3);
	&:not(:last-child) {
		border-right: var(--border-size-1) solid var(--separator-surface);
	}
}

tr:nth-child(even) {
	background-color: var(--surface-0);
}

thead {
	border-bottom: var(--border-size-1) solid var(--separator-surface);
	text-transform: var(--font-uppercase);
	font-size: var(--font-size-0);
	letter-spacing: var(--font-letterspacing-loose);
	font-family: var(--font-mono);
	font-weight: var(--font-weight-6);
	color: var(--color-secondary);
}

mark {
	background-color: var(--color-secondary);
	color: var(--surface-0);
	padding: 0.15em;
}

code {
	background-color: var(--surface-0);
	border-radius: var(--radius-rounded);
	padding: 0.3em;
	font-family: var(--font-mono);
	font-size: var(--font-size-smaller);
}

del {
	text-decoration-color: var(--color-red);
}

sup {
	position: relative;
	top: 0.5ch;
	font-size: var(--font-size-0);
}

pre {
	position: relative;
}

pre button {
  opacity: .7;
	display: inline-flex;
	padding: var(--size-1) var(--size-2);
	font-family: var(--font-heading);
	border: var(--border-size-1) solid transparent;
	border-radius: var(--radius-rounded);
	text-decoration: none;
	cursor: pointer;
	font-weight: var(--font-weight-bold);
	text-align: center;
	align-items: center;
	justify-content: center;
	transition: 250ms ease-in-out filter;

	background-color: var(--color-surface-1);
	color: var(--color-foreground);
	border-color: var(--color-surface-1);

	font-family: var(--font-sans);
	font-size: var(--font-size-0);
	position: absolute;
	top: var(--size-2);
	right: var(--size-2);

	&:hover,
	&:focus-within {
		filter: brightness(1.2);
    opacity: 1;
	}
	&:active {
		filter: brightness(0.9);
		transform: scale(0.95);
	}
}
