:root {
	/* grayscale calculations */
	--gray-10-l: var(--gray-l);
	--gray-20-l: calc(var(--gray-l) - var(--gray-increment) * 1);
	--gray-30-l: calc(var(--gray-l) - var(--gray-increment) * 2);
	--gray-40-l: calc(var(--gray-l) - var(--gray-increment) * 3);
	--gray-50-l: calc(var(--gray-l) - var(--gray-increment) * 4);
	--gray-60-l: calc(var(--gray-l) - var(--gray-increment) * 5);
	--gray-70-l: calc(var(--gray-l) - var(--gray-increment) * 6);
	--gray-80-l: calc(var(--gray-l) - var(--gray-increment) * 7);
	--gray-90-l: calc(var(--gray-l) - var(--gray-increment) * 8);

  /* grayscale composites */
  --color-gray-0: hsl(var(--gray-h) var(--gray-s) 100%);
	--color-gray-10: hsl(var(--gray-h) var(--gray-s) var(--gray-10-l));
	--color-gray-20: hsl(var(--gray-h) var(--gray-s) var(--gray-20-l));
	--color-gray-30: hsl(var(--gray-h) var(--gray-s) var(--gray-30-l));
	--color-gray-40: hsl(var(--gray-h) var(--gray-s) var(--gray-40-l));
	--color-gray-50: hsl(var(--gray-h) var(--gray-s) var(--gray-50-l));
	--color-gray-60: hsl(var(--gray-h) var(--gray-s) var(--gray-60-l));
	--color-gray-70: hsl(var(--gray-h) var(--gray-s) var(--gray-70-l));
	--color-gray-80: hsl(var(--gray-h) var(--gray-s) var(--gray-80-l));
	--color-gray-90: hsl(var(--gray-h) var(--gray-s) var(--gray-90-l));
  --color-gray-100: hsl(var(--gray-h) var(--gray-s) 0%);
}

:root {
	color-scheme: dark;

	--color-yellow: hsl(35 86% 67%);
	--color-orange: hsl(26 79% 62%);
	--color-red: hsl(358 64% 62%);
	--color-purple: hsl(292 25% 66%);
	--color-blue: hsl(205 37% 62%);
	--color-green: hsl(67 43% 54%);

	/* Grayscale HSL Controls - Primary Hue is based on --color-blue for a cooler palette */
	--color-primary-h: 205;
	--gray-h: var(--color-primary-h);
	--gray-s: 5%;
	--gray-l: 90%;
	--gray-increment: 10%;

	--color-surface-1: var(--color-gray-80);
	--color-foreground: var(--color-gray-10);
	--color-background: var(--color-gray-90);
	--color-background-trans: hsl(
		var(--gray-h) var(--gray-s) var(--gray-90-l) / 0.7
	);

	--color-primary: var(--color-yellow);
	--color-secondary: var(--color-blue);
	--color-muted: var(--color-gray-40);

	--color-gloss: var(--color-gray-100);

	--color-separator: var(--color-gray-60);

	--box-shadow-color: hsl(var(--gray-h) var(--gray-s) 0% / 0.5);

	--blend-mode: multiply;
}

[color-scheme='light'] {
	color-scheme: light;

	--color-yellow: hsl(35 100% 39%);
	--color-orange: hsl(26 97% 45%);
	--color-red: hsl(358 62% 49%);
	--color-purple: hsl(292 24% 49%);
	--color-blue: hsl(205 41% 43%);
	--color-green: hsl(67 51% 31%);

	/* Grayscale HSL Controls - Primary Hue is based on --color-yellow for a warmer palette */

	--color-primary-h: 35;
	--gray-h: var(--color-primary-h);
	--gray-s: 5%;
	--gray-l: 97%;
	--gray-increment: 10%;

	--color-surface-1: var(--color-gray-20);
	--color-foreground: var(--color-gray-90);
	--color-background: var(--color-gray-10);
	--color-background-trans: hsl(
		var(--gray-h) var(--gray-s) var(--gray-10-l) / 0.5
	);

	--color-primary: var(--color-blue);
	--color-secondary: var(--color-purple);
	--color-muted: var(--color-gray-70);


	--color-gloss: var(--color-gray-0);

	--color-separator: var(--color-gray-30);

	--box-shadow-color: hsl(var(--gray-h) var(--gray-s) 0% / 0.2);

	--blend-mode: screen;
}


/* astro-code */

:root {
	--astro-code-color-text: var(--color-foreground);
	--astro-code-color-background: var(--color-gloss);
	--astro-code-token-constant: var(--color-foreground);
	--astro-code-token-string: var(--color-green);
	--astro-code-token-comment: var(--color-muted);
	--astro-code-token-keyword: var(--color-red);
	--astro-code-token-parameter: var(--color-green);
	--astro-code-token-function: var(--color-secondary);
	--astro-code-token-string-expression: var(--color-primary);
	--astro-code-token-punctuation: var(--color-foreground);
	--astro-code-token-link: var(--color-green);
}
