/* syntax color */

:root {
	--shiki-color-text: var(--text-1);
	--shiki-color-background: var(--surface-0);
	--shiki-token-constant: var(--accent-green);
	--shiki-token-string: var(--accent-x);
	--shiki-token-comment: var(--muted);
	--shiki-token-keyword: var(--accent-red);
	--shiki-token-parameter: var(--accent-x);
	--shiki-token-function: var(--brand);
	--shiki-token-string-expression: var(--brand-2);
	--shiki-token-punctuation: var(--text-1);
	--shiki-token-link: var(--accent-x);
}