/* syntax color */

:root {
	--shiki-color-text: var(--text-1);
	--shiki-color-background: var(--surface-0);
	--shiki-token-constant: var(--accent-green);
	--shiki-token-string: var(--accent-x);
	--shiki-token-comment: var(--muted);
	--shiki-token-keyword: var(--accent-red);
	--shiki-token-parameter: var(--accent-x);
	--shiki-token-function: var(--brand);
	--shiki-token-string-expression: var(--brand-2);
	--shiki-token-punctuation: var(--text-1);
	--shiki-token-link: var(--accent-x);
}

code {
	background-color: var(--surface-0);
	border-radius: var(--radius-rounded);
	padding: 0.3em;
	font-family: var(--font-mono);
	font-size: var(--font-size-smaller);
}

pre {
	position: relative;
	overflow-x: auto;
	padding: var(--gutter);
	border-radius: var(--radius-rounded);
}

pre > div {
	overflow-x: auto;
}

pre code {
	padding: unset;
}

pre button {
	display: inline-flex;
	padding: var(--size-1) var(--size-2);
	font-family: var(--font-heading);
	border: var(--border-size-1) solid transparent;
	border-radius: var(--radius-rounded);
	text-decoration: none;
	cursor: pointer;
	font-weight: var(--font-weight-bold);
	text-align: center;
	align-items: center;
	justify-content: center;
	transition: 250ms ease-in-out filter;

	background-color: var(--surface-3);
	color: var(--text-1);
	border-color: var(--surface-3);

	font-family: var(--font-sans);
	font-size: var(--font-size-0);
	position: absolute;
	top: var(--size-2);
	right: var(--size-2);
	filter: opacity(0.7);

	&:hover,
	&:focus-within {
		filter: brightness(1.1);
		filter: opacity(1);
	}
	&:active {
		filter: brightness(0.9);
		transform: scale(0.95);
	}
}

.language-id {
	/* display: none; */
	color: var(--muted);
	font-size: var(--font-size-smaller);
	font-family: var(--font-mono);
	padding-left: 5ch;
	margin-bottom: 1ex;
	&::before {
		content: "// ";
	}
}

pre:has(.language-id) {
	& .code-container code {
		counter-reset: step;
		counter-increment: step calc(var(--start, 1) - 1);
	}

	& .code-container code .line::before {
		content: counter(step);
		counter-increment: step;
		width: 3ch;
		margin-right: 2ch;
		display: inline-block;
		text-align: right;
		color: var(--muted);
		opacity: 0.7;
	}
}
