/* For color variables, see _schemes.css */

:root {
  --breakpoint-3xs: 18rem;
  --breakpoint-2xs: 24rem;
  --breakpoint-xs: 36rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 62rem;
  --breakpoint-lg: 75rem;
  --breakpoint-xl: 90rem;
  --breakpoint-2xl: 100rem;
}

:root {
  --font-scale: 1.333;
  --font-size-body: 1rem;

  --font-size-4xl: calc(var(--font-size-3xl) * var(--font-scale));

  --font-size-3xl: calc(var(--font-size-2xl) * var(--font-scale));

  --font-size-2xl: calc(var(--font-size-xl) * var(--font-scale));

  --font-size-xl: calc(var(--font-size-lg) * var(--font-scale));

  --font-size-lg: calc(var(--font-size-md) * var(--font-scale));

  --font-size-md: calc(var(--font-size-sm) * var(--font-scale));

  --font-size-sm: var(--font-size-body);

  --font-size-xs: calc(var(--font-size-sm) / var(--font-scale));


  --font-size-smaller: 0.9em;

  --font-family-body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;

  --font-family-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-family-heading: Outfit, var(--font-family-body);

  --line-height-heading: calc(1em + 0.5rem);

  --line-height-body: 1.5;

  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;

  --font-weight-bold: var(--font-weight-600);

  --letter-spacing-tight: -0.025em;
  --letter-spacing-normal: 0;
  --letter-spacing-loose: 0.075em;

  --text-uppercase: uppercase;
  --text-capitalize: capitalize;
}

:root {
  --box-shadow-0: 0 0 0 var(--box-shadow-color);
  --box-shadow-sm: 0 0 2rem var(--box-shadow-color);
}

:root {
  --space-scale: 1.333;
  --space-2xs: calc(var(--space-xs) / 2 * var(--space-scale));
  --space-xs: 0.5rem;

  --space-sm: calc(var(--space-xs) * var(--space-scale));
  --space-md: calc(var(--space-sm) * var(--space-scale));
  --space-lg: calc(var(--space-md) * var(--space-scale));
  --space-xl: calc(var(--space-lg) * var(--space-scale));
  --space-2xl: calc(var(--space-xl) * var(--space-scale));
  --space-3xl: calc(var(--space-2xl) * var(--space-scale));
  --space-4xl: calc(var(--space-3xl) * var(--space-scale));
  --space-5xl: calc(var(--space-4xl) * var(--space-scale));
  --space-6xl: calc(var(--space-5xl) * var(--space-scale));
}

:root {
  --line-length-sm: 50ch;
  --line-length-md: 60ch;
  --line-length-lg: 70ch;
}

:root {
  --border-width-none: 0;
  --border-width-1: max(1px, 0.0625rem);
  --border-width-2: max(2px, 0.125rem);
  --border-width-3: max(3px, 0.1875rem);
  --border-width-4: max(4px, 0.25rem);


  --border-radius-rounded: max(5px, 0.3125rem);
  --border-radius-pill: 999em;
  --border-radius-circle: 50%;
}

:root {
  --layer-01: -1;
  --layer-0: 0;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
  --layer-important: 2147483647;
}

:root {
  /* gutter */
  --gap-0: 0;
  --gap-xs: var(--space-xs);
  --gap-sm: var(--space-sm);
  --gap-md: var(--space-md);
  --gap-lg: var(--space-lg);
  --gap-xl: var(--space-xl);
  --gap-2xl: var(--space-2xl);
  --gap-3xl: var(--space-3xl);
}

:root {
  --gutter: var(--space-xl);
  --base-amount: calc(0.5vw + 0.5vh + 15rem);
  --gradient-primary: linear-gradient(45deg, var(--color-blue), var(--color-purple));
}
