---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import PageLayout from '@layouts/PageLayout.astro';
import "@styles/layouts/entry.css"

import * as About from '../demo/about.md';
let title = "About";
let description = "About Xenon for Astro";
let canonicalURL = Astro.canonicalURL;





---

<DefaultLayout
	{title}
	{description}
	{canonicalURL}
>

<PageLayout title={About.frontmatter.title}>
	<div class="entry-content flow">
	
	<About.Content />

	</div>
	
</PageLayout>
</DefaultLayout>

<style>

</style>
