---
import DefaultLayout from '@layouts/DefaultLayout.astro';


import * as About from '../demo/about.md';
let title = "About";
let description = "About Xenon for Astro";
let canonicalURL = Astro.canonicalURL;



---

<DefaultLayout
	{title}
	{description}
	{canonicalURL}
>
	<div class="flow">
	
	<About.Content />

	</div>
</DefaultLayout>

<style>

</style>
