---
import DefaultLayout from '@layouts/DefaultLayout.astro';


import * as About from '../demo/about.md';



const { content } = Astro.props;
---

<DefaultLayout
	title="About"
	description="About Xenon for Astro"
	path={Astro.canonicalURL.pathname}
	canonicalUrl={Astro.canonicalURL.href}
>
	<div class="flow">
	
	<About.Content />

	</div>
</DefaultLayout>

<style>

</style>
