---
export interface Props {
	className?: string;
	name: string;
}

const { name, className } = Astro.props;
---

<span class={className ? `label ${className}` : 'label'}>
	{name}
</span>

<style>
	.label {
		display: inline-block;
		padding: var(--size-1) var(--size-2);
		color: var(--text-1);
		line-height: 1;
		background-color: var(--gloss);
		font-family: var(--font-mono);
		font-weight: var(--font-weight-6);
		border-radius: var(--radius-rounded);
		letter-spacing: var(--font-letterspacing-loose);
		text-transform: uppercase;
		font-size: var(--font-size-0);
	}

	/* .label-default {
    background-color: var(--muted);
		opacity: 0.7;
		backdrop-filter: blur(15px);
		color: var(--color-background);
	} */

	.label-default {
    background-color: var(--surface-1);
		opacity: 0.7;
		backdrop-filter: blur(15px);
		color: var(--text-1);
	}

	.label-primary {
    background-color: var(--brand);
		opacity: 0.7;
		backdrop-filter: blur(15px);
		color: var(--surface-1);
	}

	.label-overlay {
    background-color: var(--gray-1);
		color: var(--gray-10);
		opacity: 0.7;
		mix-blend-mode: screen;
		backdrop-filter: blur(15px);
	}

</style>