@media (--OSdark) {
  :where(html) {
    color-scheme: dark;

    --accent-yellow: var(--yellow-3);
		--accent-orange: var(--orange-3);
		--accent-red: var(--red-3);
		--accent-purple: var(--grape-3);
		--accent-blue: var(--blue-3);
		--accent-green: var(--green-3);

    --brand: var(--yellow-3);
		--brand-2: var(--cyan-3);

    --link: var(--brand);
    --link-visited: var(--brand);

    --text-1: var(--gray-1);
    --text-2: var(--gray-4);
    --text-3: var(--gray-5);


    --surface-0: var(--gray-10);
    --surface-1: var(--gray-9);
    --surface-2: var(--gray-8);
    --surface-3: var(--gray-7);
    --surface-4: var(--gray-6);

		--blend-mode: multiply;

    --selection-text: var(--gray-10);
    --selection-surface: var(--yellow-2);
  }
}





/* :root[color-scheme="dark"] {


   
  
} */