[color-scheme='light'] {
	color-scheme: light;

	--color-yellow: hsl(35 100% 39%);
	--color-orange: hsl(26 97% 45%);
	--color-red: hsl(358 62% 49%);
	--color-purple: hsl(292 24% 49%);
	--color-blue: hsl(205 41% 43%);
	--color-green: hsl(67 51% 31%);

	/* Grayscale HSL Controls - Primary Hue is based on --color-yellow for a warmer palette */

	--color-primary-h: 35;
	--gray-h: var(--color-primary-h);
	--gray-s: 5%;
	--gray-l: 97%;
	--gray-increment: 10%;

	--color-surface-1: var(--color-gray-20);
	--color-foreground: var(--color-gray-90);
	--color-background: var(--color-gray-10);
	--color-background-trans: hsl(
		var(--gray-h) var(--gray-s) var(--gray-10-l) / 0.5
	);

	--color-primary: var(--color-blue);
	--color-secondary: var(--color-purple);
	--color-muted: var(--color-gray-70);


	--color-gloss: var(--color-gray-0);

	--color-separator: var(--color-gray-30);

	--box-shadow-color: hsl(var(--gray-h) var(--gray-s) 0% / 0.2);

	--blend-mode: screen;
}