:root {
	color-scheme: light;

	--color-yellow: hsl(35 100% 39%);
	/* --color-yellow: hsl(37 100% 47%); */
	--color-orange: hsl(26 97% 45%);
	--color-red: hsl(358 62% 49%);
	--color-purple: hsl(292 24% 49%);
	--color-blue: hsl(205 41% 43%);
	--color-green: hsl(67 51% 31%);

	

	--blend-mode: screen;
}