:root {
	--astro-code-color-text: var(--text-1);
	--astro-code-color-background: var(--gloss);
	--astro-code-token-constant: var(--text-1);
	--astro-code-token-string: var(--accent-green);
	--astro-code-token-comment: var(--muted);
	--astro-code-token-keyword: var(--accent-red);
	--astro-code-token-parameter: var(--accent-green);
	--astro-code-token-function: var(--color-secondary);
	--astro-code-token-string-expression: var(--accent-yellow);
	--astro-code-token-punctuation: var(--text-1);
	--astro-code-token-link: var(--accent-green);
}