.entry {
	@media (--rem-sm-n-above) {
		display: grid;
		grid-template-rows: auto auto;
		/* grid-template-rows: calc(100vh - var(--gutter) * 2) auto; */
	}
}

.entry-heading {
	max-width: var(--size-span-sm);
	padding: var(--gutter) 0 0 0;
	position: relative;
	background: var(--color-background);
	@media (--rem-sm-n-above) {
		padding: var(--gutter) var(--gutter) 0 0;
		align-self: end;
		grid-row: 1;
		grid-column: 1;
	}
}

.entry-figure {
	aspect-ratio: 4/3;
	@media (--viewport-xs) {
		aspect-ratio: initial;
		grid-column: 1;
		grid-row: 1;
		z-index: -1;
		width: 100%;
		position: sticky;
		top: var(--gutter);
		height: 75vh;
	}
	@media (--rem-sm-n-above) {
		height: 50vh;
	}
	@media (--rem-md-n-above) {
		height: calc(100vh - var(--gutter) * 2);
	}
}

:global(.entry-figure img),
.entry-img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.entry-body {
	grid-row: 2;
	background-color: var(--color-background);
}

.entry-content {
	max-width: calc(var(--size-span-sm) - var(--gutter));
}

.entry-content.flow > *:first-child {
	margin-top: 0;
}

.entry-meta {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	padding: var(--size-3) 0 var(--size-3);
	gap: var(--gutter);
	font-family: var(--font-mono);
}
.entry-meta-list {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	flex: 0 1 auto;
	column-gap: 1ch;
}
.entry-meta-key {
	font-family: var(--font-mono);
	font-size: var(--font-size-0);
	color: var(--color-secondary);
	font-weight: var(--font-weight-6);
	letter-spacing: var(--font-letterspacing-loose);
	text-transform: var(--font-uppercase);
}

.entry-meta-value {
	font-size: var(--font-size-smaller);
}

.entry-tags .entry-meta-value span {
	display: inline-block;
	margin-right: 1em;
}

.entry-body > * {
	grid-column: 1;
}

.entry-content {
	/* & pre, */
	/* & table, */
	& p,
	& li,
	& dt,
	& dd {
		max-width: var(--size-content-4);
	}
}

.entry-content.flow > *:first-child {
	margin-top: 0;
}

.entry-content blockquote {
	border-left: var(--border-size-4) solid var(--color-secondary);
	padding: var(--gutter);
	background-color: var(--gloss);
}

/* .entry-content.flow > *:last-child {
	margin-bottom: var(--size-6);
} */

.entry-footer {
	margin-top: var(--size-7);
	background-color: var(--gloss);
	padding: var(--size-4);
	border-radius: var(--radius-rounded);
}

.image-credit {
	display: grid;
	gap: var(--size-4);
	grid-template-columns: min(20%, 4rem) auto;
	& > div {
		align-self: center;
	}
}

.entry hr {
	margin-top: var(--size-6);
	& + * {
		margin-top: var(--size-6);
	}
}

.entry table {
	width: 100%;
	max-width: 100%;

}




.footnotes {
	border-top: var(--border-size-1) solid var(--separator-surface);
	margin-top: var(--size-6);
	padding-top: var(--size-6);
}

.footnotes ol {
	/* padding-inline-start: 3ch; */
	font-size: var(--font-size-smaller);
}

.data-footnote-backref {
	text-decoration: none;
	background-color: var(--gloss);
	padding: var(--size-1);
	border-radius: var(--radius-rounded);
}

[aria-describedby="footnote-label"] {
	display: inline-block;
	min-width: 3ch;
	text-align: center;
	background-color: var(--gloss);
	text-decoration: none;
	padding: 0.15em;
	border-radius: var(--radius-rounded);
}

.entry-content figure {
	margin-top: var(--size-6);
}
.entry-content figure + * {
	margin-top: var(--size-6);
}
