.entry-heading, .entry-body {
	position: relative;
	background: var(--surface-1);
}

@media (--md-n-above) {
	.entry-heading,
	.entry-content {
		max-width: var(--size-span-sm);
		padding-right: var(--gutter);
	}
}

.entry-title {
	font-size: var(--font-size-7);
	letter-spacing: var(--font-letterspacing-tight);
}
.entry-figure {
	aspect-ratio: 16/9;
	position: sticky;
	top: var(--gutter);
	z-index: -1;
}

.entry-figure img,
.entry-img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}



@media (--xl-n-above) {
	.entry {
		display: grid;
		grid-template-rows: auto auto auto;
	}

	.entry-heading {
		align-self: end;
		grid-row: 1;
		grid-column: 1;
	}
	
	.entry-figure {
		grid-column: 1;
		grid-row: 1;
		/* z-index: -1; */
		width: 100%;
	}
	/* .entry-body {
		grid-row: 3;
	}

	.entry-meta {
		grid-row: 2;
	} */
}

.entry-meta {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	gap: var(--gutter);
	font-family: var(--font-mono);
}
.entry-meta-list {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	flex: 0 1 auto;
	column-gap: 1ch;
}
.entry-meta-key {
	font-family: var(--font-mono);
	font-size: var(--font-size-0);
	color: var(--brand-2);
	font-weight: var(--font-weight-6);
	letter-spacing: var(--font-letterspacing-loose);
	text-transform: var(--font-uppercase);
}

.entry-meta-value {
	font-size: var(--font-size-smaller);
}

.entry-tags .entry-meta-value span {
	display: inline-block;
	margin-right: 1em;
}

.prose {
	/* & pre, */
	/* & table, */
	& p,
	& li,
	& dt,
	& dd {
		max-width: var(--size-content-4);
	}
}

/* .prose.flow {
	--flow: 1.25em;	
} */


.entry-content blockquote {
	border-left: var(--border-size-3) solid var(--brand-2);
	padding: var(--gutter);
	background-color: var(--surface-0);
}

.entry-footer {
	margin-top: var(--size-7);
	background-color: var(--surface-0);
	padding: var(--size-2);
	border-radius: var(--radius-rounded);
}

.image-credit {
	display: grid;
	gap: var(--size-4);
	grid-template-columns: min(20%, 4rem) auto;
	font-size: var(--font-size-smaller);
	& > div {
		align-self: center;
	}
}

.entry hr {
	margin-top: var(--size-6);
}


.entry hr + * {
		margin-top: var(--size-6);

}


.footnotes {
	border-top: var(--border-size-1) solid var(--separator-surface);
	margin-top: var(--size-6);
	padding-top: var(--size-6);
}

.footnotes ol {
	/* padding-inline-start: 3ch; */
	font-size: var(--font-size-smaller);
	margin-block: 0;
}

.data-footnote-backref {
	text-decoration: none;
	background-color: var(--surface-0);
	padding: var(--size-1);
	border-radius: var(--radius-rounded);
}

[aria-describedby="footnote-label"] {
	display: inline-block;
	min-width: 3ch;
	text-align: center;
	background-color: var(--surface-0);
	text-decoration: none;
	padding: 0.15em;
	border-radius: var(--radius-rounded);
}

.entry-content figure {
	margin-top: var(--size-6);
}
.entry-content figure + * {
	margin-top: var(--size-6);
}
