---
import Head from '@components/global/Head.astro';
import Footer from '@components/global/Footer.astro';
import Sidebar from '@components/global/Sidebar.astro';
import SkipLinks from '@components/global/SkipLinks.astro';

import { profiles } from '@data/site.json';

const { title, description, canonicalURL } =
	Astro.props;


---

<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
	<head>
		<Head {title} {description} {canonicalURL} />
		<script is:inline>
		document.documentElement.classList.remove("no-js")
		</script>
	</head>
	<body>

		
			<SkipLinks client:load />
			<div class='wrapper'>
				<Sidebar />
				<main class='site-content' id='site-content' role='main'>
					<slot></slot>
				</main>
			</div>
			<Footer slot="footer" profiles={profiles} />

	</body>
</html>



<script is:inline>
const copyButtonLabel = "Copy Code";

// you can use a class selector instead if you, or the syntax highlighting library adds one to the 'pre'. 
let blocks = document.querySelectorAll("pre");

blocks.forEach((block) => {
  // only add button if browser supports Clipboard API
  if (navigator.clipboard) {
    let button = document.createElement("button");
		// button.className += 'btn btn-copy';
    button.innerText = copyButtonLabel;
    button.addEventListener("click", copyCode);
    block.appendChild(button);
  }
});

async function copyCode(event) {
  const button = event.srcElement;
  const pre = button.parentElement;
  let code = pre.querySelector("code");
  let text = code.innerText;
  await navigator.clipboard.writeText(text);
  
  button.innerText = "Code Copied";
  
  setTimeout(()=> {
    button.innerText = copyButtonLabel;
  },1000)
}




// table


function wrap_single(el, wrapper) {
    el.parentNode.insertBefore(wrapper, el);
    wrapper.appendChild(el);
}
let divWrapper;
let elementToWrap;
elementToWrap = document.querySelector('table');
// wrapping the event form in a row
divWrapper = document.createElement('div');
divWrapper.className = 'table-wrapper';
wrap_single(elementToWrap, divWrapper);



// let original = document.querySelector('table');
// let wrapper = document.createElement('div');
// wrapper.classList.add('table-wrapper');
// wrapper.append(original.cloneNode(true));

// original.replaceWith(wrapper);

</script>


