---
import Head from '@components/global/Head.astro';
import Footer from '@components/global/Footer.astro';
import Sidebar from '@components/global/Sidebar.astro';
import SkipLinks from '@components/global/SkipLinks.astro';

import { profiles } from '@data/site.json';

const { title, description, canonicalURL } =
	Astro.props;


---

<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
	<head>
		<Head {title} {description} {canonicalURL} />
		<script is:inline>
		document.documentElement.classList.remove("no-js")
		</script>
	</head>
	<body>

		
			<SkipLinks />
			<div class='wrapper'>
				<Sidebar />
				<main class='site-content' id='site-content' role='main'>
					<slot></slot>
				</main>
			</div>
			<Footer slot="footer" profiles={profiles} />

	</body>
</html>

<script src="@utilities/CopyCodeButton.js" />

<script src="@utilities/TableWrapper.js" />


