---
import Head from '@components/global/Head.astro';
import Footer from '@components/global/Footer.astro';
import Sidebar from '@components/global/Sidebar.astro';
import SkipLinks from '@components/global/SkipLinks.astro';


export interface Props {
	layoutCss?: string;

}

const { title, description, canonicalURL, layoutCss } =
	Astro.props as Props;


---

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<Head {title} {description} {canonicalURL} />
	</head>
	<body>
		<div data-layout={layoutCss ? layoutCss : `default` }>
		
			<SkipLinks client:load />
			<div class='wrapper'>
				<Sidebar />
				<main class='site-content' id='site-content' role='main'>
					<slot></slot>
				</main>
			</div>
			<Footer />
		</div>
	</body>
</html>
