---
export interface Props {
	title: any
}

const { title } = Astro.props
---

<div class="main-content">
	<div class="main-figure"></div>
	<div class="main-header">
		<h1 class="main-title">{title}</h1>
	</div>
	<div class="main-body section-2xl">
		<slot></slot>
	</div>
	<slot name="main-footer"/>
</div>

<style>
	.main-content {
		@media (--sm-n-above) {
		display: grid;
		grid-template-rows: auto auto;
		}
	}
	.main-body {
		background-color: var(--surface-1);
	}

	:global(.main-body > *) {
		max-width: calc(var(--size-span-sm) - var(--gutter));
	}

	.main-header {
		grid-row: 1;
		grid-column: 1;
		align-self: end;
		padding: var(--gutter) var(--gutter) .5ch 0;
		background-color: var(--surface-1);
		max-width: var(--size-span-sm);
	}


	.main-title {
		font-size: var(--font-size-7);
	letter-spacing: var(--font-letterspacing-tight);
	}

	.main-figure {
		aspect-ratio: 4/3;

		@media (--sm-n-above) {
			aspect-ratio: initial;
			height: 50vh;
		}
	}

	.main-figure {
		grid-row: 1;
		grid-column: 1;
		z-index: -1;
		--bg-image: url(/images/page-header-light.svg);

		position: sticky;
		top: var(--gutter);
		overflow: hidden;
		background-image: var(--bg-image),
			linear-gradient(
				45deg,
				var(--accent-green),
				var(--accent-blue),
				var(--accent-purple),
				var(--accent-red)
			);
		background-blend-mode: soft-light;

		background-repeat: repeat, no-repeat;
		background-attachment: fixed;
		background-size: auto 20%, cover;
	}

	@media(--OSdark) {
	 .main-figure {
		--bg-image: url(/images/page-header-dark.svg);
	}
}
</style>
