---
export interface Props {
	title: any
}

const { title } = Astro.props
---

<div class='main-entry'>
	<div class='main-figure'></div>
	<div class='main-header'>
		<h1 class='main-title'>{title}</h1>
	</div>
	<div class='main-body'>
		<div class='main-content prose section-2xl'>
			<slot />
		</div>
	</div>
	<slot name='main-footer' />
</div>

<style>
	.main-header {
		position: relative;
		padding-top: var(--gutter);
		background-color: var(--surface-1);
		/* backdrop-filter: var(--background-blur);
		background: var(--surface-1-trans); */
	}

	@media (--md-n-above) {
		.main-header,
		.main-content {
			max-width: var(--size-span-sm);
			padding-right: var(--gutter);
		}
	}

	.main-title {
		font-size: var(--font-size-7);
		letter-spacing: var(--font-letterspacing-tight);
	}

	.main-body {
		background-color: var(--surface-1);
		/* backdrop-filter: var(--background-blur);
		background: var(--surface-1-trans); */
	}

	.main-figure {
		aspect-ratio: 16/9;
		position: sticky;
		top: var(--gutter);
		z-index: -1;
		overflow: hidden;

		background-image: var(--page-bg-image),
			linear-gradient(
				45deg,
				var(--accent-blue),
				var(--accent-purple),
				var(--accent-red)
			);
		background-blend-mode: soft-light;
		
		background-repeat: no-repeat, no-repeat;
		background-attachment: static;
		background-size: cover, cover;

		@media (--mouse) {
			background-image: var(--page-bg-image),
			linear-gradient(
				45deg,
				var(--accent-green),
				var(--accent-blue),
				var(--accent-purple),
				var(--accent-red)
			);
			background-attachment: fixed;
			background-size: auto 20%, cover;
			background-repeat: repeat, no-repeat;
			
		}
	}
	

	@media (--xl-n-above) {
		.main-entry {
			display: grid;
			grid-template-rows: auto auto;
		}

		.main-header {
			align-self: end;
			grid-row: 1;
			grid-column: 1;
		}
		.main-figure {
			grid-row: 1;
			grid-column: 1;
			width: 100%;
		}
		.main-body {
			grid-row: 2;
		}
	}
</style>
