---
import site from "@data/site.json";
const currentYear = new Date().getFullYear();
---

<footer class="site-footer section-lg" role="contentinfo">
  <div class="container">
    <p>
      Copyright &copy; {currentYear}
      <strong>{site.name}</strong>. Most rights reserved.
    </p>
  </div>
</footer>

<style>
  .site-footer {

    /* position: sticky;
    bottom: 0; */
    border-top: var(--border-size-1) solid var(--separator-surface);
    background-color: var(--surface-0);
    color: var(--muted);
  }

  .site-footer p {
    font-family: var(--font-mono);
    font-size: var(--font-size-0);
  }


  .site-footer > div {
    text-align: right;
  }
</style>
