---
import site from "@data/site.json";
import Logo from "@components/global/Logo.astro";
import ThemeToggle from "@components/global/ThemeToggle.astro";
import Nav from "@components/global/Nav.astro";


---

<div class="sidebar">
  <header class="site-header" role="banner">
    <a href="/" class="site-brand">
      <Logo />
      <span class="sr-only">{site.title}</span>
    </a>
  </header>

  <Nav />
  <ThemeToggle />
  <div class="sponsor">Sponsor</div>
</div>

