---
import Button from "@components/Button.astro";
---
<nav class="skip-links" aria-label="Skiplinks">
  <ul role="list">
    <li>
      <Button href="#site-content" className="btn btn-primary">Skip to main content</Button>
    </li>
  </ul>
</nav>

<script type="module">
  // variables
  const skipLinks = [...document.querySelectorAll(".skip-links a")];

  // execution
  if (skipLinks.length > 0) {
    skipLinks.forEach((link) => {
      link.addEventListener("keydown", (event) => {
        if (!event.target.closest("a")) return;
        const key = event.key;

        if (key !== "Enter") return;
        event.preventDefault();
        const target = event.target.getAttribute("href");

        if (target === "#main-navigation") {
          const navigation = document.querySelector("#main-navigation");
          navigation.querySelector("a").focus();
        }

        if (target === "#site-content") {
          const siteContent = document.querySelector("#site-content");
          siteContent.setAttribute("tabindex", "-1");
          siteContent.focus();
        }

        // if (target === "#site-content") {
        //   const h1 = document.querySelector("h1");
        //   h1.setAttribute("tabindex", "-1");
        //   h1.focus();
        // }
      });
    });
  }
</script>

<style is:global>
  .skip-links a {
      position: absolute;
      z-index: 100;
      top: -100vh;
      left: var(--size-4);
  }

  .skip-links a:focus {
    top: var(--size-4);
  }
</style>
