<div class='sponsor'>
	<span class='image'>
		<img src="/images/sponsor-logo.svg" alt="Logoipsum logo" width="123" height="61" />
			
	</span>
	<div>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, architectos.
		</p>
		<p>Ads via Acme</p>
	</div>
</div>

<style>
	.sponsor {
		margin-inline: auto;
		display: grid;
		padding: var(--size-2);
		background-color: var(--surface-0);
		max-width: 295px;
		box-sizing: border-box;
		border-radius: var(--radius-rounded);
		position: relative;
		box-shadow: var(--shadow-1);
		gap: var(--size-2);
		grid-template-columns: auto auto;
	}

	.sponsor > div {
		display: flex;
  flex-direction: column;
  justify-content: center;
	}

	.sponsor .image {
		width: min(100px, 100%);
		height: auto;
		aspect-ratio: 1.25/1;
		background: var(--gray-1);
		display: inline-block;
		padding: var(--size-2);
		display: grid;
		place-content: center;
	}


	.sponsor > div p {
		font-size: var(--font-size-0);
		color: var(--text-1);
		font-weight: var(--font-weight-3);
		line-height: var(--font-lineheight-1);
	}
	.sponsor > div p:last-child {
		font-size: var(--font-size-00);
		color: var(--muted);
		text-transform: uppercase;
		font-weight: var(--font-weight-5);
		margin-top: var(--size-2);
	}
</style>
