---
import Icon from "astro-icon";
import Button from "@components/Button.astro";

---

<Button className="theme-toggle btn btn-default" id="theme-toggle" title="Toggles light and dark" label="auto" live="polite">
  <Icon name="ri:sun-fill" width={24} class="icon-light" />
  <Icon name="ri:moon-fill" width={24} class="icon-dark" />
</Button>


<script is:inline>
const storageKey = 'color-scheme'

const onClick = () => {
  // flip current value
  theme.value = theme.value === 'light'
    ? 'dark'
    : 'light'

  setPreference()
}

const getColorPreference = () => {
  if (localStorage.getItem(storageKey))
    return localStorage.getItem(storageKey)
  else
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light'
}

const setPreference = () => {
  localStorage.setItem(storageKey, theme.value)
  reflectPreference()
}

const reflectPreference = () => {
  document.firstElementChild
    .setAttribute('data-theme', theme.value)

  document
    .querySelector('#theme-toggle')
    ?.setAttribute('aria-label', theme.value)
}

const theme = {
  value: getColorPreference(),
}

// set early so no page flashes / CSS is made aware
reflectPreference()

window.onload = () => {
  // set on load so screen readers can see latest value on the button
  reflectPreference()

  // now this script can find and listen for clicks on the control
  document
    .querySelector('#theme-toggle')
    .addEventListener('click', onClick)
}

// sync with system changes
window
  .matchMedia('(prefers-color-scheme: dark)')
  .addEventListener('change', ({matches:isDark}) => {
    theme.value = isDark ? 'dark' : 'light'
    setPreference()
  })
</script>


<style>

  .icon-dark {
    display: none;
  }

  .icon-light {
    display: inline-block;
  }

@media (--OSdark) {

   .icon-light {
    display: none;
  }
   .icon-dark {
    display: inline-block;
  }
}

[data-theme="dark"], [aria-label="dark"]  {
  & .icon-light {
    display: none;
  }
  & .icon-dark {
    display: inline-block;
  }
}

[data-theme="light"], [aria-label="light"] {
  & .icon-dark {
    display: none;
  }
  & .icon-light {
    display: inline-block;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
}
button::before {
  content: attr(aria-label);
  text-transform: capitalize;
}
button svg {
  width: 1em;
  height: auto;
}

</style>